@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

.chest-exercises {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.page-heading {
  font-family: Bebas Neue;
  color: white;
  margin: 1em 2em;
  font-size: 2em;
  display: block;
  text-align: center;
  text-transform: capitalize;
}

.exercise-search-bar {
  background-color: white;
  border-radius: 0.5em;
}
.search-btn {
  color: white;
  background-color: #00b712;
  height: 4em;
  border-radius: 0 0.5em 0.5em 0;
  text-transform: none;
}
.search-btn:hover {
  background-color: #4ad358;
}
.chest-exercises div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  /* border: 2px solid red; */
  margin: 1em 2em 0 2em;
  text-align: center;
  width: 15em;
  font-family: Source Sans Pro;
  font-size: 1.4em;
}
.pagination-text {
  color: white;
  /* border: 2px solid red; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1em;
}
.chest-exercises img {
  width: 15rem;
  /* border: 2px solid green; */
}
